* {
    margin: 0;
    padding: 0;
}

:root {
    --color_primary: #f9c708;
    --color_white: #eaefec;
    --color_secondary: #181a20;
    --color_secondary_light: #1e2329;
    --color_disable: #939ea5;
}

body {
    background-color: var(--color_secondary);
    scrollbar-width: 0px;
}

body::-webkit-scrollbar {
    display: none;
}

/* top rated part start here  */

.top_rated {
    margin: 10px 0px;
}

.title {

    text-align: center;

    margin: 0;

    /* box-shadow: 2px 3px 5px 2px #b0a9a94a; */

    margin: 20px 0px;

    background: #1f26308c;

    border-bottom: 1px solid #8d888845;
}

.title h3 {

    color: #fff;

    padding: 10px 0px;
}

/* top rated part end here  */

/* table part start here  */
.crypto_table {

    height: 600px;

    overflow: auto;
}

.crypto_table table thead tr th {}

.crypto_table table thead tr {}

.crypto_table table thead {}

.crypto_table table {

    height: 100px;

    overflow: auto;
}

.crypto_table table tbody tr td img {

    width: 28px;

    margin-right: 5px;
}

.crypto_table table tbody tr td h5 {

    /* padding-bottom: 16px; */
}

.crypto_table table tbody tr td p {

    font-size: 12px;
}

.crypto_table table tbody tr td {
    padding: 10px 0px;
}

.crypto_table table tbody tr {}

.crypto_table table tbody {}

/* table part end here  */

.mobile_view {
    display: none;
}

.crypto_table {
    scrollbar-width: 0px;
    margin-bottom: 20px;
}

.crypto_table::-webkit-scrollbar {
    display: none;
}

table tbody {
    /* height: 100px !important; */
    /* overflow: auto; */
}

/* top gainer part start here  */
.top_gainer {}

.top_gainer table tbody img {

    height: 60px;

    width: 60px;

    border-radius: 50%;

    margin-right: 15px;

    object-fit: cover;
}

.top_gainer table tbody h2 {

    font-size: 18px;

    margin: 0;

    margin-top: 10px;
}

.top_gainer table tbody h3 {

    font-size: 14px;

    margin: 0;

    color: #ffffff57;
}

.top_gainer table tbody {}

.top_gainer table tbody tr td {

    padding: 20px;
}

.top_gainer table tbody tr {}

.top_gainer table {}

.td_amt {

    font-size: 20px !important;
}

/* top gainer part end here  */




@media only screen and (max-width: 426px) {
    .mobile_view {
        display: block;
    }

    .pc_view {
        display: none;
    }

    .crypto_table table tbody tr td h5 {
        padding-bottom: 0px;
        font-size: 13px;
    }

    .crypto_table table thead tr th {
        font-size: 12px;
    }

    .top_gainer table thead tr th {
        font-size: 12px;
    }

    .crypto_table table tbody tr td {
        padding-left: 5px;
    }

    .crypto_table table tbody tr td p {
        font-size: 8px;
    }

    .top_gainer table tbody img {
        height: 30px;
        width: 30px;
    }

    .top_gainer table tbody h2 {
        font-size: 12px !important;
    }

    .top_gainer table tbody h3 {
        margin-top: 0px;
        font-size: 10px;
    }
}

/* ==== 2nd page ==========  */
/* sidebar part start here  */
.hot_tab .tab-content {
    height: 100vh;
}

.offcanvas-body::-webkit-scrollbar {
    display: none;
}

.offcanvas-body {

    scrollbar-width: 0;
}

.tab_function {
    min-height: 90vh;

}

.offcanvas-body ul {}

.offcanvas-body ul li {}

.nav-pills {

    /* margin-top: 20px; */

    margin-bottom: 0 !important;
}

.tab_btn .nav-link {
    position: relative;
    color: #ffffff8c;
}

.tab_btn .nav-link {
    background-color: transparent !important;
}

.tab_btn .nav-link.active {
    background-color: transparent;

}

.tab_btn .nav-link.active span {
    opacity: 1;
}

.tab_btn span {
    height: 2px;
    width: 30%;
    content: '';
    background: #f7931a;
    opacity: 0;
    margin: auto;
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translateX(-50%);
    transition: .4s all ease-in-out;
}

.offcanvas {
    background-color: #1f2630;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: #ffffff21;
}

.coin_select {

    display: flex;

    justify-content: center;

    align-items: center;
}

.coin_select img {

    width: 30px !important;

    height: 30px;
}

.coin_select h2 {

    font-size: 14px;

    color: #fff;
}

.coin_select h3 {

    font-size: 14px;

    color: #fff;
}

.coin_select p {

    font-size: 12px;

    color: #fff;

    margin: 0;
}

.offcanvas-title {
    color: #fff;
}

.offcanvas-header .btn-close,
.offcanvas-header .btn-close:hover {
    color: #fff !important;
}

/* sidebarpart end here  */
/* top bar part start here  */
.top_navbar {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ffffff14;
    margin-bottom: 5px;
    background: #29313c;
    padding: 5px 10px;
    margin-top: 6px;
}

.top_left {
    display: flex;
    align-items: center;
    justify-content: start;
}

.top_left h1 {

    font-size: 14px;

    color: #fff;

    text-transform: uppercase;

    margin: 0px;
}

.top_left img {
    width: 20px;
    margin-right: 10px;
    margin-top: 5px;
}

.top_left h1 span {

    font-size: 10px;

    margin-left: 5px;

    color: #2e906e;
}

/* :right */
.top_right {

    display: flex;

    justify-content: end;

    align-items: center;

    margin-top: 5px;
}

.candle_icon {

    display: flex;

    justify-content: center;

    align-items: center;
}

.candle_icon a {}

.candle_icon a img {

    width: 14px;
}

.top_right a {

    margin: 0px 3px;

    display: flex;

    justify-content: center;

    align-items: center;

    text-decoration: none;
}

.top_right a i {

    color: #ffffffa8;

    font-size: 12px;

    text-decoration: none;
}

.three_dots {

    display: flex;

    justify-content: center;

    align-items: center;
}

.three_dots span {

    height: 4px;

    width: 4px;

    background: #ffffffc2;

    margin: 1px;
}

/* top bar part end here  */

/* tranding view part  */
.tradingview-widget-copyright {
    display: none;
}

.tradingview-widget-container iframe {
    /* min-height: 50vh !important; */
}

/* tranding view part end  */

/* hot topic part start here  */
.title {

    background: #00000073;

    padding: 5px;

    margin: 5px 0px;
}

.title h1 {

    color: #fff;

    font-size: 20px;
}

.hot_part {

    max-height: 100vh;

    overflow: auto;
}

.hot_part::-webkit-scrollbar {
    display: none;
}

.hot_part {
    scrollbar-width: 0px;
}

.hot_part ul {

    list-style: none;

    padding: 0;

    overflow: auto;
}

.hot_part ul li {

    background: #0000003d;

    margin: 5px 0px;
}

.coins {

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 10px 15px;
}

.coins i {

    color: #f7931a;

    margin-right: 20px;
}

.coins img {

    text-align: center;

    margin-right: 10px;

    width: 30px;

    padding: 3px;
}

.coins h2 {

    color: #fff;

    font-size: 14px;
}

.coins h2 span {

    text-transform: uppercase;

    font-size: 12px;

    color: #ffffff9e;
}

.coins p {

    color: #fff;

    margin: 0px;

    font-size: 12px;
}

.chart_part {
    /* height: 240px !important; */
    overflow: hidden;
    max-height: 40vh;
}

/* hot topic part end here  */



/* buy sell part start here  */
.bs_btn {}

.bs_btn ul {}

.bs_btn ul li {

    width: 50%;

    background: #29313c;
}

.bs_btn ul li button {
    width: 100%;
    color: #fff;
    border-radius: 0 !important;
    border-top-right-radius: 20px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: var(--color_secondary_light);
}

.nav-link:focus,
.nav-link:hover {
    color: var(--color_primary);
}

.nav-pills .btn_sell.active {
    background-color: #dc3545;
    border-top-left-radius: 50px !important;
    border-bottom-left-radius: 50px !important;
}

.nav-pills .btn_buy.active {
    background-color: #2ebd85;
    border-top-right-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
}

/* buy part  */
.btns_part {
    margin-bottom: 20px;
}

.btns {
    width: 100%;
    background-color: #29313c;
    color: #fff;
    margin: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 10px;
}

.btns select {
    width: 100%;
    padding: 0.375rem 0.75rem;
    color: #fff;
    background-color: #29313c;
    -moz-appearance: none;
    appearance: none;
    border: none !important;
}

.btns select:focus {
    outline: none;
}

.btns select option {}

.btns h4 {
    font-size: 16px;
    padding: 0.375rem 0.75rem;
    margin: 0px;
}

.btns img {

    width: 20px;
}

.btns button {

    background: transparent;

    color: #fff;

    border: none;
}

.btns button i {}

.btns input {
    background-color: #29313c;
    color: #fff;
    border: none;
    text-align: center;
    padding: 0.375rem 0.75rem;
}

.btns input::placeholder {
    color: #ffffff5a;
}

.btns input:focus {
    outline: none;
}

.percen_btn {

    width: 100%;

    text-align: center;
}

.percen_btn button {

    width: 100%;

    height: 8px;

    border: none;

    background: #ffffff6e;

    border-radius: 10px;
}

.percen_btn p {

    color: #fff;

    margin: 0;
}

/* buy sell part end here  */

/* price part start here  */
.price_part {}

.price_title {

    display: flex;

    justify-content: space-between;

    align-items: center;

    background: #29313c;

    padding: 10px 5px;

    margin-top: 5px;
}

.price_title h2 {

    color: #fff;

    font-size: 16px;
}

.price_body {
    scrollbar-width: 0px;
    min-height: 140px;
    overflow: auto;
}

.price_body::-webkit-scrollbar {
    display: none;
}

.price_option {

    display: flex;

    justify-content: space-between;

    padding: 3px 5px;

    background: #29313c;

    align-items: center;

    margin-top: 5px;
}

.price_option p {

    color: #fff;

    margin: 0;

    font-size: 12px;
}

.buy_section .price_option {

    background: #2ebd8514;
}

.sell_section .price_option {
    background-color: #ed52520d;
}

/* price part end here  */

.offcanvas-header {
    display: unset;
}

.title ul {}

.title ul li {}

.title ul li button {

    color: #ffffff8a;
}

.title ul li button.active {

    background: transparent !important;

    color: #fff;
}

.btn_time {
    color: #fff;
    font-size: 10px;
    border: none;
    padding: 2px 0px;
    margin-left: 10px;
    border-radius: 0px;
}

.pc_view {}

.mobile_view {
    display: none;
}

.bs_btn .tab-content {
    /* height: 100vh; */
}

.min_btns {
    display: flex;
    overflow: auto;
    /* width: 68%; */
}

.min_btns::-webkit-scrollbar {
    display: none;
}

.sidebar_star {

    display: flex;

    justify-content: center;

    /* align-items: center; */

    margin-right: 15px;

    margin-top: 10px;
}

.sidebar_star:hover {
    color: #fff;
}

.sidebar_star i {
    /* color: #fbfbfb4e !important; */
    color: #f7931a !important;

}

.btn_close {
    color: #fff;
    border: none;
    background-color: transparent;
}

.avbl_css {
    color: #ffffff70;
}

.candle_light {
    display: block;
}

.candle_dark {
    display: none;
}

.duration_btn {}

.duration_btn button {
    width: 100%;
    background: #29313c;
    color: #fff;
    border: none;
    font-size: 16px;
}

.btn_time {
    color: #fff !important;
}

/* show hide button part star here  */
.hidden {
    display: none;
}

.mobile_view a button {
    background-color: transparent;
    border: none;
}

.btn_candle.active .icn_active,
.icn_inactive {
    display: none;
}

.btn_candle.active .icn_inactive {
    display: block;
}

.btn_candle.active .chart_view {
    display: none;
}

.price_view {
    display: none;
}

.btn_candle.active .price_view {
    display: block;
}

#inactiveDiv {
    display: block;
}

#activeDiv {
    display: none;
}

/* show hide button part end here  */
@media only screen and (max-width: 426px) {
    .pc_view {
        display: none;

    }

    .mobile_view {
        display: block;
        margin-bottom: 10px;
    }

    .offcanvas.show:not(.hiding),
    .offcanvas.showing {
        transform: none;
        width: 85%;
    }
}


/* ========= navbar ===========  */
.main_navbar {

    background: var(--color_secondary);

    box-shadow: 0px 1px 5px 0px #ffffff14;

    position: sticky;

    top: 0;

    z-index: 1;
}

.main_navbar .navbar-brand img {

    height: 40px;
}

.btn_login {
    font-size: 14px;
    /* border: 1px solid #fff; */
    padding: 5px 10px !important;
    display: block;
    border-radius: 5px;
    background: #2b3139;
}

.btn_signup {
    padding: 5px 10px !important;
    font-size: 14px;
    /* background: #f9c708; */
    background: var(--color_primary);
    color: #000 !important;
    border-radius: 5px;
}

.main_navbar .nav-item {}

.main_navbar .nav-item .nav-link {
    color: #fff;
    margin-right: 10px;
}

.main_navbar .group_btns .nav-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form_group_register {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form_group_register a {
    text-decoration: none;
    margin-left: 10px;
}

.btn_primary {
    background: var(--color_primary);
    min-width: 100px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: #1f2630;
    border-radius: 10px;
    border: none;
    text-decoration: none;
}

.hero_part {
    padding: 50px 0px;
}

.hero_content {
    margin-bottom: 20px;
}

.hero_content h1 {
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-bottom: 20px;
    font-size: 84px;
}

.hero_content h1 span {
    color: var(--color_primary);
    font-weight: 700;
}

.hero_content h1 strong {}

.form_group_register input {
    background: transparent !important;
    box-shadow: none !important;
    outline: none !important;
    color: #eaefec !important;
}

.coin_table {
    background: var(--color_secondary_light);
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    /* height: 300px; */
    overflow: auto;
    scrollbar-width: 0 !important;
}

.coin_table::-webkit-scrollbar {
    display: none;
}

.coin_list {
    padding: 0;
    margin: 0;
}

.coin_list li {
    padding: 8px 0px;
    /* border-bottom: 1px solid var(--color_white); */
    list-style: none;
}

.coin_list li:hover span {
    color: #d1d9d5;
}

.coin_list li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    text-decoration: none;
}

.coin_list span {}

.coin_icon {}

.coin_icon img {
    max-height: 25px;
    margin-right: 5px;
}

.coin_icon strong {}

.coin_icon span {}

.coin_list h6 {
    color: var(--color_white);
}

.view_all {
    text-decoration: none;
    font-size: 14px;
    color: #ffffff73;
}

.form_group_register input::placeholder {
    color: #adadad;
}

.mobile_img {}

.img_section {
    text-align: center;
    max-height: 90vh;
}

.img_section img {
    max-height: 75vh;
    margin-bottom: 15px;
}

.img_sec_title {}

.img_sec_title h2 {
    color: var(--color_white);
    text-align: center;
}

.img_sec_title img {
    max-width: 80%;
    text-align: center;
    margin: auto;
    display: flex;
}

.faq_section {

    padding: 50px;
}

.faq_contents {}

.faq_title {

    text-align: center;

    margin-bottom: 30px;

    color: var(--color_white);
}

.faq_section .accordion-header {

    border-color: var(--color_white);

    border-radius: 0px !important;

    overflow: hidden;

    /* background: transparent; */
}

.faq_section .accordion-header .accordion-button {

    background: var(--color_secondary_light);

    color: var(--color_white);

    /* border-radius: 10px !important; */

    /* overflow: hidden; */

    border: none;
}

.accordion-item {}

.accordion-item .accordion-body {

    background: var(--color_secondary_light);

    color: var(--color_primary);
}

:root {
    --icon_plus: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2716%27 height=%2716%27 fill=%27%23212529%27 class=%27bi bi-plus%27%3E%3Cpath d=%27M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z%27/%3E%3C/svg%3E");
    --icon_minus: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2716%27 height=%2716%27 fill=%27%23052c65%27 class=%27bi bi-dash%27%3E%3Cpath d=%27M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z%27/%3E%3C/svg%3E")
}

.accordion-button::after {
    flex-shrink: 0;
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    margin-left: auto;
    /* content: "\2b"; */
    background-image: var(--icon_plus);
    background-color: var(--color_primary);
    border-radius: 50%;
}

.accordion-button:not(.collapsed)::after {
    background-image: var(--bs-accordion-btn-active-icon);
    transform: var(--bs-accordion-btn-icon-transform);
    /* content: ""; */
    background-image: var(--icon_minus);
    color: #fff;
    /* background: #fff; */
}

.faq_section .accordion-item {
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    background: transparent;
    box-shadow: 0px 0px 2px 0px #00000070;
}

.newslatter_sec {
    background-color: var(--color_secondary_light);
    padding: 50px 0px;
}

.signUp_sectin {

    text-align: center;
}

.signUp_sectin h4 {

    color: #fff;

    font-size: 40px;

    margin-bottom: 10px;
}

.signUp_sectin a {
    display: block;
    width: fit-content;
    margin: auto;
    text-decoration: none;
}

.log_regi {

    border: 2px solid var(--color_secondary_light);

    padding: 30px;

    margin-top: 50px;

    border-radius: 20px;
}

.log_regi img {

    max-width: 150px;
}

.log_regi h4 {

    font-size: 30px;

    color: #fff;

    margin: 20px 0px;

    margin-bottom: 0;
}

.log_regi_form {}

.log_regi_form label {

    color: #fff;

    margin-bottom: 5px;
}

.log_regi_form input {

    background: var(--color_secondary) !important;

    color: var(--color_white);
}

.log_regi_form:focus {
    outline: var(--color_primary);
}

.form-control:focus {
    color: var(--color_primary);
    box-shadow: none;
    /* color: #fff; */
    border: 1px solid var(--color_primary);
    background: transparent;
}

.log_regi_form input::placeholder {
    color: #9d9d9d;
}

.log_regi_form .btn_primary {

    width: 100%;

    margin: 20px 0px;
}

.forget_link {
    text-align: center;
    display: block;
    color: #fff;
}

.log_regi_link {
    text-align: center;
    display: block;
    margin: 20px 0px;
    text-decoration: none;
    color: var(--color_primary);
}

.log_regi p {
    color: #979797;
    font-size: 12px;
}

.futures_widgets iframe {
    min-height: 50vh !important;
}

@media(max-width: 576px) {
    .mobile_view {
        display: block !important;
    }

    .pc_view {
        display: none;
    }
}


/* ======= dashboard section start here ===== */
.main_dashboard {
    transition: .4s all ease-in-out;

    background: red;

    margin-left: 250px;
}

.dashboard_sidebar {
    transition: .4s all ease-in-out;
    width: 250px;
    background: var(--color_secondary_light);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    z-index: 1;
}

.nav_sidebar {}

.sidebar_list {

    list-style: none;

    padding: 0;
}

.sidebar_item {

    padding: 5px 10px;

    border-radius: 3px;
}

.sidebar_link {

    text-decoration: none;

    width: 100%;

    display: block;
}

.sidebar_link i {

    color: var(--color_primary);

    width: 20px;

    height: 20px;
    text-align: center;
    margin-right: 5px;
}

.sidebar_link span {

    color: #ababab;

    font-weight: 500;
}

.main_dashboard .navbar {

    background: var(--color_secondary);

    border-bottom: 2px solid var(--color_secondary_light);

    box-shadow: 0 0 2px 3px #fff0;
}

.dashboard_content {

    padding: 40px;

    background: var(--color_secondary);
}

.sidebar_item:hover {

    background: var(--color_secondary);
}

.sidebar_item.active {
    background-color: var(--color_primary);
}

.sidebar_item.active a i {

    color: #000;
}

.sidebar_item.active a span {

    color: var(--color_secondary);
}

.sidebar_top {

    padding: 10px;

    margin-bottom: 10px;

    border-bottom: 1px solid #fff;
}

.sidebar_top a {
    text-decoration: none;
}

.sidebar_top a img {

    width: 100%;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    right: 3px;
    left: auto;
}

.profile_pic {}

.profile_pic a {
    display: flex;
    align-items: center;
}

.profile_pic a i {

    font-size: 18px;

    background: #384556;

    height: 30px;

    width: 30px;

    display: flex;

    justify-content: center;

    align-items: center;

    border-radius: 50%;

    margin-right: 8px;
}

.profile_pic a h4 {

    font-size: 16px;

    color: var(--color_primary);

    margin: 0;

    text-align: end;
}

.profile_pic a p {

    color: #c3c3c3;

    font-size: 13px;
}

.profile_pic .dropdown-menu {
    left: auto;
    right: 0;
}

.btn_sidebar {}

.btn_sidebar i {}

@media(max-width: 992px) {
    .dashboard_sidebar {
        margin-left: -250px;
    }

    .main_dashboard {
        margin-left: 0;
    }

    /* .dashboard_sidebar.hide{
        margin-left: -250px;
    }
    .main_dashboard.hide{
        margin-left: 0;
    } */
    .dashboard_sidebar.show {
        margin-left: 0px;
        z-index: 1;
    }
}

.navbar_secondary {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar_secondary .nav-item {
    color: #fff;
    /* margin-right: 16px; */
    padding: 10px;
}

.btn_sidebar {
    padding: 5px 10px;
    border: none;
    background: var(--color_primary);
    box-shadow: 2px 3px 5px 3px #0000005c;
}

.btn_sidebar i {}

.navbar_secondary .nav-item .nav-link {}

.sidbar_close .btn_sidebar {
    position: absolute;
    right: -50px;
    padding: 5px 10px;
    border: none;
    background: var(--color_primary);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.sidbar_close .btn_sidebar i {}

.sidbar_close {
    position: relative;
    display: none;
    transition: .4s all ease-in-out;
}

.dashboard_sidebar.show .sidbar_close {
    display: block;
}

/* profile page star here  */
.profile_information {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-bottom: 10px;
}

.profile_information i {

    height: 80px;

    width: 80px;

    display: flex;

    justify-content: center;

    align-items: center;

    font-size: 45px;

    background: var(--color_secondary_light);

    color: var(--color_primary);

    border-radius: 50%;

    margin-right: 10px;
}

.profile_information img {
    height: 60px;
    width: 60px;
    background: var(--color_secondary_light);
    border-radius: 50%;
    margin-right: 10px;
}

.profile_information h4 {
    font-size: 18px;
    color: #fff;
    margin: 0;
}

.profile_information p {
    color: var(--color_white);
    margin: 0;
}

.details_card {
    padding: 20px;
    border-top: 2px solid var(--color_disable);
}

.details_card h4 {
    color: var(--color_white);
    font-size: 20px;
    margin-bottom: 15px;
}

.details_card ul {
    list-style: none;
    padding: 0;
}

.details_card ul li {
    display: flex;
    justify-content: space-between;
}

.details_card ul li p {
    color: var(--color_disable);
    margin-bottom: 10px;
}

.btn_edit {
    background: var(--color_primary);
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px #0000006b;
    margin: 0px 3px;
    color: #000;
    font-weight: 400;
    text-decoration: none;
}

/* profile page end here  */

/* : 10px;
  height: 100%;
} */

.card-no {
    font-size: 35px;
    margin-top: 10px;
}

.card-holder {
    font-size: 12px;
    margin-top: 10px;
}

.name {
    font-size: 22px;
    margin-top: 0px;
}

.bar {
    background: #222;
    margin-left: -30px;
    margin-right: -30px;
    height: 60px;
    margin-top: 10px;
}

.card-cvv {
    margin-top: 20px;
}

.card-cvv div {
    flex: 1;
}

.card-cvv img {
    width: 100%;
    display: block;
    line-height: 0;
}

.card-cvv p {
    background: #fff;
    color: #000;
    font-size: 22px;
    padding: 10px 20px;
}

.card-text {
    margin-top: 30px;
    font-size: 14px;
}

.signature {
    margin-top: 30px;
}

.back {
    transform: rotateY(180deg);
}

@media(max-width: 992px) {
    .card_list {
        grid-template-columns: repeat(2, 3fr);
    }
}

@media(max-width: 768px) {
    .card_list {
        grid-template-columns: repeat(2, 3fr);
    }

    .s_content {
        padding: 15px;
        margin-bottom: 10px;
    }
}

@media(max-width: 576px) {
    .card_list {
        grid-template-columns: repeat(1, 3fr);
    }

    .carde {
        height: 180px;
    }

    .s_content {
        padding: 0px;
        margin-bottom: 10px;
    }
}

/* ==== payment list end ===== */

.payment_method_container {
    align-items: end;
    margin-bottom: 10px;
}

.payment_method_container h1 {
    font-size: 28px;
}

.payment_method_container .btn-action {
    font-size: 14px;
}

@media(max-width: 768px) {
    .payment_method_container h1 {
        font-size: 22px;
    }

    .payment_method_container .btn-action {
        font-size: 14px;
        padding: 10px 20px;
    }
}

@media (max-width: 576px) {
    .payment_method_container .btn-action {
        font-size: 10px;
    }
}

/* payment list ============= */
.card_list {
    margin: 20px 0px;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 15px;
    list-style: none;
    padding: 0;
}

.card_list li {}

.card-no p,
.card-holder p,
.name p {
    color: #080808;
    font-size: 12px;
    font-weight: 600;
}

.containerr {
    min-height: 100vh;
    width: 100%;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carde {
    width: 100%;
    height: 200px;
    color: #fff;
    cursor: pointer;
    perspective: 1000px;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.front,
.back {
    width: 100%;
    height: 100%;
    /* background-image: linear-gradient(45deg, #0045c7, #ff2c7d); */
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px 30px;
    border-radius: 15px;
    overflow: hidden;
    z-index: 1;
    backface-visibility: hidden;
    box-shadow: 2px 3px 5px 3px #00000052;
}

.rows {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.map-img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* opacity: 0.3; */
    z-index: -1;
    box-shadow: 2px 3px 5px 3px #00000052;
    border-radius: 10px;
    height: 100%;
}

.card-no {
    font-size: 35px;
    margin-top: 10px;
}

.card-holder {
    font-size: 12px;
    margin-top: 10px;
}

.name {
    font-size: 22px;
    margin-top: 0px;
}

.bar {
    background: #222;
    margin-left: -30px;
    margin-right: -30px;
    height: 60px;
    margin-top: 10px;
}

.card-cvv {
    margin-top: 20px;
}

.card-cvv div {
    flex: 1;
}

.card-cvv img {
    width: 100%;
    display: block;
    line-height: 0;
}

.card-cvv p {
    background: #fff;
    color: #000;
    font-size: 22px;
    padding: 10px 20px;
}

.card-text {
    margin-top: 30px;
    font-size: 14px;
}

.signature {
    margin-top: 30px;
}

.back {
    transform: rotateY(180deg);
}

@media(max-width: 992px) {
    .card_list {
        grid-template-columns: repeat(2, 3fr);
    }
}

@media(max-width: 768px) {
    .card_list {
        grid-template-columns: repeat(2, 3fr);
    }

    .s_content {
        padding: 15px;
        margin-bottom: 10px;
    }
}

@media(max-width: 576px) {
    .card_list {
        grid-template-columns: repeat(1, 3fr);
    }

    .carde {
        height: 180px;
    }

    .s_content {
        padding: 0px;
        margin-bottom: 10px;
    }
}

/* ==== payment list end ===== */


#card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: start;
    margin-bottom: 20px;
}

.bank_card {
    width: 300px;
    height: 180px;
    /* background-color: #1e90ff; */
    color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding: 20px; */
    /* box-shadow: 0 4px 8px #00000069; */
    position: relative;
    transform: scale(1.0);
    /* Default scale */
    transition: transform 0.3s ease;
    transition: .4s all ease-in-out;
}


.bank_card .bank-name {
    font-size: 1.2em;
    font-weight: bold;
}

.bank_card .card-number {
    font-size: 1.1em;
    letter-spacing: 2px;
}

.bank_card .card-holder {
    font-size: 0.9em;
    text-transform: uppercase;
}

.bank_card .expiry-date {
    font-size: 0.9em;
}

.bank_card .visa-logo {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 50px;
}

#scale-button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

.selectMethod {
    max-height: 300px;
    overflow: auto;
}

@media(max-width: 576px) {
    .bank_card {
        width: 100%;
    }

    .bank_card:nth-child(1) {
        margin-top: 0 !important;
    }

    .bank_card.scaled {
        /* margin-top: -180px; */
        transition: .4s all ease-in-out;
    }
}


.page_title {
    margin-bottom: 20px;
}

.page_title a {}

.page_title h4 {

    color: #fff;

    margin: 0;
}

.modal {}

.modal-content {
    background: var(--color_secondary);
}


.form_group p,
label {
    color: #fff;
    margin-bottom: 5px;
}


input,
textarea,
select {
    background: var(--color_secondary) !important;
    color: var(--color_white) !important;
}

input:focus,
textarea:focus,
select:focus {
    border-color: var(--color_primary);
    box-shadow: none;
    color: #fff;
}

input::placeholder,
textarea::placeholder,
select::placeholder {
    color: var(--color_white);
}

.form-control::placeholder {
    color: var(--color_disable);
}

.form_group {
    margin-bottom: 15px;
}

.btn_action {
    padding: 5px;
    border-radius: 5px;
    background: var(--color_primary);
    border: none;
    text-decoration: none;
}

.btn_back {

    color: var(--color_primary);
}

.wallet_section {

    display: grid;

    grid-template-columns: repeat(2, 2fr);

    gap: 15px;
}

.wallet_box {
    border: 1px dashed var(--color_disable);
    /* margin-right: 20px; */
    padding: 20px;
    border-radius: 10px;
}

.wallet_amt {

    display: flex;

    align-items: end;
}

.wallet_box p {

    color: var(--color_disable);

    margin: 0;

    margin-left: 40px;

    font-size: 14px;

    font-weight: 500;
}

.wallet_amt img {

    height: 40px;
}

.wallet_amt h1 {

    margin: 0;

    margin-left: 8px;

    font-size: 39px;

    color: var(--color_primary);
}

.balance_container {

    display: grid;

    grid-template-columns: repeat(2, 2fr);

    gap: 20px;

    padding: 20px;

    margin: 30px 0px;

    border: 1px dashed var(--color_disable);

    border-radius: 10px;
}

.balance_box {}

.balance_box h5 {

    color: var(--color_primary);

    font-size: 18px;
}

.balance_box h4 {

    color: var(--color_white);

    font-size: 30px;

    margin-bottom: 5px;
}

.balance_box h6 {

    color: var(--color_white);

    margin: 0;

    margin-bottom: 5px;
}

.balance_box p {

    color: var(--color_white);

    margin: 0;

    color: var(--color_disable);
}

.btns_list {

    display: grid;

    grid-template-columns: repeat(2, 2fr);

    gap: 10px;
}

.btns_list .btn_primary {

    height: fit-content;

    text-decoration: none;
}

.balance_box h4 span {

    font-size: 20px;

    color: var(--color_primary);
}

@media(max-width: 768px) {
    .balance_container {
        grid-template-columns: repeat(1, 2fr);
    }
}

.tabs_buttons {}

.tabs_buttons ul {

    display: grid;

    grid-template-columns: repeat(6, 6fr);

    gap: 10px;

    border-bottom: 1px solid var(--color_disable);
}

.tabs_buttons ul li {}

.tabs_buttons .nav-link {

    width: 100%;

    border-radius: 0;

    background: transparent !important;

    color: var(--color_disable);

    font-weight: 600;
}

.tabs_buttons .nav-link.active {

    color: var(--color_primary);

    border-bottom: 1px solid var(--color_primary);
}

.transection_table {

    margin: 20px 0px;
}

@media(max-width: 992px) {
    .tabs_buttons ul {

        display: grid;

        grid-template-columns: repeat(5, 6fr);
    }
}

@media(max-width: 768px) {
    .tabs_buttons ul {

        display: grid;

        grid-template-columns: repeat(3, 6fr);
    }

    .dashboard_content {
        padding: 20px;
    }
}

@media(max-width: 576px) {
    .tabs_buttons ul {

        display: grid;

        grid-template-columns: repeat(2, 6fr);
    }
}


.withdraw_form p {
    font-size: 14px;
    margin-bottom: 5px;
}

.withdraw_form .form_group {
    margin-bottom: 10px;
}

.withdraw_form .form_group input,
.withdraw_form .form_group select {
    margin-bottom: 0px;
    background: #ffffff2e !important;
    color: #fff;
    border: .5px dashed;
}

.withdraw_form .form_group input:placeholder,
{
color: #fff;
}


.withdraw_form .form_group span {
    font-size: 14px;
    margin-top: 5px;
    display: block;
    color: #f44986;
}

.btn_confirm.btn_deposit_confirm {
    width: 100% !important;
    max-width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 20px !important;
    margin-top: 10px;
}



.badge_ {
    text-align: center;
    padding: 5px;
    /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, rgba(75, 20, 192, 0.2) 0%, rgba(196, 41, 221, 0.2) 100%); */
    border-radius: 3px;
    margin-bottom: 10px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color_white);
    background: var(--color_secondary_light);
}

.form_group span {
    color: var(--color_disable);
}

.search_div {
    margin: 20px 0px;
}

.deposit_method {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(6, 6fr);
}

.deposit_option {
    border: 1px solid var(--color_disable);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.deposit_option img {
    height: 45px;
    width: 45px;
    margin-bottom: 10px;

}

.deposit_option h4 {
    margin: 0;
    font-size: 16px;
}

.deposit_option a {
    text-decoration: none;
    display: block;
}


/* qr code part start here  */
.qr_box {
    height: 120px;
    width: 120px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

.box_text {}

.box_text p {

    color: #ffffff6e;

    padding: 20px 40px;

    text-align: center;

    font-size: 12px;
}

/* qr part end here  */

/* deposite form part start here  */
.deposite_form {}

.deposite_form form {}

.deposite_form h3 {

    color: #fff6;

    font-size: 14px;

    margin-top: 20px;

    margin-bottom: 10px;
}

.deposite_form input {
    background: transparent;
    color: #fff;

}

.deposite_form input:focus {
    background-color: transparent;
    color: #fff;
    box-shadow: none;
}

.deposite_form input::placeholder {
    color: #a09c9c;
}

.deposite_form h2 {

    font-size: 16px;

    color: #fff;
}

.btn_ammount {

    border: 1px solid var(--color_white);

    width: 100%;

    margin-top: 10px;

    font-size: 14px;

    transition: .4s all ease-in-out;

    color: var(--color_disable);
}

/* information part start here  */
.form_information {

    background: #ffffff12;

    padding: 20px;

    border-radius: 10px;

    margin: 20px 0px;
}

.form_information h4 {

    color: #ffffffa3;

    margin: 0;

    font-size: 16px;
}

.form_information p {

    color: #fff;

    margin: 0;

    font-size: 14px;

    text-align: end;
}

/* inpformation part end here  */
.btn_confirm {

    background: #1c955d !important;

    margin-top: 10px;

    font-size: 18px !important;

    padding: 5px 0px !important;
}

.btn_ammount:hover {
    color: var(--color_primary);
    border: 1px solid var(--color_primary);
}

/* deposite form part end here  */
@media only screen and (max-width: 993px) {
    .deposite_form button {
        /* background: transparent;
        border: none;
        color: #fff;
        padding: 0px; */
        font-size: 12px;
    }
}

@media only screen and (max-width: 426px) {
    .deposite_form button {
        background: transparent;
        border: none;
        color: #fff;
        padding: 0px;
        font-size: 12px;
    }
}

.qr_code {
    background: #fff;
    height: auto;
    width: 100%;
}

.deposite_form .btn_edit {
    color: var(--color_secondary) !important;
}

.deposite_form input {}

.search_div {
    /* display: flex; */
    align-items: center;
}

.input_form {
    margin-right: 10px;
}

.input_form input {
    margin: 0;
}

.search_div .btn-action {}

.search_div p {
    margin-right: 10px;
    color: var(--color_white);
    font-size: 14px;
}

.footer {

    padding: 30px 0px;

    margin-top: 20px;

    border-top: 1px solid var(--color_disable);

}

.footer p {
    margin: 0;
    color: var(--color_disable);
    text-align: center;
    margin-top: 30px;
}

.mobile_.group_btns {
    display: none !important;
}

.btn_close {}

.btn_close i {}

.btn_menu {

    padding: 0 5px;

    border: none;

    box-shadow: none !important;

    outline: 0;
}

.bt_container_home {
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    gap: 15px;
}

.bt_container_home .btn_primary {
    min-width: 50px;
}

@media(max-width: 992px) {
    .group_btns {
        display: flex !important;
        flex-direction: row;
    }

    .main_navbar .group_btns .nav-item {
        margin-bottom: 0px;
    }
}

@media(max-width: 768px) {
    .hero_content h1 {
        font-size: 60px;
    }

    .faq_section {
        padding: 10px;
    }
}

@media (max-width: 576px) {
    .hero_content h1 {
        font-size: 40px;
    }

    .signUp_sectin h4 {
        font-size: 35px;
    }

    .mobile_.group_btns {
        display: flex !important;
        width: 94% !important;
        position: absolute;
        bottom: 20px;
    }

    .mobile_.group_btns .nav-link {
        text-align: center;
    }

    .offcanvas.show .offcanvas-body {

        position: relative;

    }

    .main_navbar .navbar-brand img {
        height: auto;
        max-width: 150px;
    }

    .title h3 {
        font-size: 18px;
    }
}

/* @media(min-width: 992px){
    .offcanvas{
        width: 100% !important;
        min-width: 85%;
    }
} */
.dropdown-menu {
    background-color: var(--color_secondary_light);
}

.dropdown-item {
    color: var(--color_white);
}

.dropdown-item:active {
    background-color: var(--color_primary);
}

.dropdown-item i {
    color: var(--color_primary);
}


.kyc_section {}

.kyc_section .section-faq {
    background-color: transparent;
    padding: 10px 0px;
}

.form_group {
    margin-bottom: 20px;
}

.form_group.kyc_ {
    text-align: center;
    color: var(--color_disable);
}

.form_group.kyc_ button {
    border: none;
    border-radius: 10px;
}

.form_group.kyc_ button img {
    width: 300px;
    height: 200px;
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 0 0 20px 0px #00000063;
}

.form_group.kyc_ p {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 600;
}

.kyc_container {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 20px;
}

.kyc_form .btn-action.style-1 {
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.demo_image {
    /* max-width: 80px; */
}

.kyc_dl label {
    height: 123px;
    width: 200px;
    border: 1px dashed #fff;
    margin-bottom: 10px;
    position: relative;
    border-radius: 10px;
}

.kyc_dl label i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.kyc_dl label img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    padding: 3px;
}

.modal-title {
    color: var(--color_white);
}

.form_group.kyc_ h4 {
    display: none;
}

@media(max-width: 768px) {
    .section-faq.style-5 .faq__content .flat-tabs .menu-tab li {
        margin-right: 25px;
    }

    .section-faq.style-5 .faq__content .flat-tabs .menu-tab li h5 {
        font-size: 16px;
    }

    .menu-tab {
        display: grid !important;
        grid-template-columns: repeat(2, 2fr);
    }

    .pricing_section {
        display: grid;
        grid-template-columns: repeat(2, 4fr);
        gap: 15px;
    }

    .form_group.kyc_ h4 {
        font-size: 18px;
    }

    .kyc_container {
        display: grid;
        grid-template-columns: repeat(2, 3fr);
        gap: 15px;
    }

}

@media(max-width: 576px) {
    select {
        font-size: 12px !important;
    }

    .dashboard .dashboard__content {
        padding: 50px 20px;
    }

    .section-faq.style-2 .faq__content .flat-tabs .content-tab .flat-toggle .toggle-title {
        font-size: 12px;
    }

    .banner-top.style-2 .banner-top__sale .sale-content .countdown__timer .countdown__item::after {
        bottom: -25px;
        font-size: 12px;
    }

    .box-nft {
        width: calc(100% - 30px);
    }
}

@media(max-width: 426px) {
    .pricing_section {
        grid-template-columns: repeat(1, 4fr);
    }

    .home-nft .banner-top.style-2 {
        padding: 100px 0 79px;
    }

    .mechine_container {
        grid-template-columns: repeat(1, 4fr);
        margin-top: 0;
    }
}

@media (max-width: 576px) {
    .kyc_container {
        display: grid;
        grid-template-columns: repeat(1, 3fr);
        gap: 15px;
    }
}

.confirm_icon {
    color: green;
    font-size: 40px;
    height: 60px;
    width: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    border-radius: 50%;
}

.bank_card_details {
    background-color: var(--color_primary);
}

.error_section {
    text-align: center;
    padding: 20px 0px;
}

.error_section i {
    color: #fff;
    background: red;
    padding: 20px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.error_section h3 {
    text-align: center;
    color: #fff;
    font-size: 22px;
}

.error_section h6 {
    color: #fff;
    font-size: 13px;
}


.error_section p {
    color: #fff;
    font-size: 12px;
}

.error_section .btn_primary {
    background: var(--color_primary);
    min-width: 100px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: #1f2630;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    margin: auto;
}

.error_section p a {
    color: var(--color_primary);
}

.m_message {
    color: #fff;
    font-size: 12px;
    margin: 5px 0px;
}

.main_sliderContainer {

    display: grid;

    grid-template-columns: repeat(4, 4fr);

    gap: 20px;

    padding: 20px 0px;
}

.slider_box {}

.slider_box .tradingview-widget-container {}


.livecoinwatch-widget-3 {
    /* height: 460px !important; */
}

.livecoinwatch-widget-3 a {
    display: none !important;
}

.livecoinwatch-widget-3 div:first-child {
    /* display:  none !important; */
    margin: 0 !important;
    padding: 0 !important;
}

.tv-embed-widget-wrapper__body span,
.label-dzbd7lyV {
    display: none !important;
}

.label-dzbd7lyV {
    display: none !important;
}

.tv-embed-widget-wrapper span {
    display: none !important;
}

.tradingview-widget-container .tradingview-widget-copyright {
    display: none !important;
}


.transec_tb_mobile {
    list-style: none;
    padding: 0;
}

.transec_tb_mobile li {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    /* max-width: 300px; */
    margin-bottom: 20px;
}

.transec_tb_mobile li p {
    margin: 0;
    color: #e7e7e7;
    padding: 5px;
    border: 1px solid #686868;
    font-size: 12px;
}

.transec_tb_mobile li p:nth-child(1) {
    border-bottom: 0;
    border-right: 0;
}

.transec_tb_mobile li p:nth-child(2) {
    border-bottom: 0;
    border-left: 0;
}

.transec_tb_mobile li p:nth-child(3) {
    border-top: 0;
    border-right: 0;
}

.transec_tb_mobile li p:nth-child(4) {
    border-top: 0;
    border-left: 0;
}

.transec_tb_mobile.trande_ p:nth-child(3) {
    border: none;
    border-left: 1px solid #686868;

}

.transec_tb_mobile.trande_ p:nth-child(4) {
    border: none;
    border-right: 1px solid #686868;

}

.transec_tb_mobile.trande_ p:nth-child(5) {
    border: none;
    border-left: 1px solid #686868;


}

.transec_tb_mobile.trande_ p:nth-child(6) {
    border: none;
    border-right: 1px solid #686868;


}

.transec_tb_mobile.trande_ p:nth-child(7) {
    border: none;
    border-left: 1px solid #686868;


}

.transec_tb_mobile.trande_ p:nth-child(8) {
    border: none;
    border-right: 1px solid #686868;


}

.transec_tb_mobile.trande_ p:nth-child(9) {
    border: none;
    border-left: 1px solid #686868;

    border-bottom: 1px solid #686868;


}

.transec_tb_mobile.trande_ p:nth-child(10) {
    border: none;
    border-right: 1px solid #686868;
    border-bottom: 1px solid #686868;

}

.chart-container {
    width: 100px;
    height: 50px;
}

canvas {
    width: 100% !important;
    height: 100% !important;
}

.bt_container_home .btn_primary {
    border: 1px solid var(--color_primary);
    color: var(--color_primary);
    background-color: transparent;
}

@media(max-width: 576px) {
    .search_div {
        display: block;
    }

    .input_form.date_ {
        width: 42%;
    }

    .input_form input,
    .input_form select {
        font-size: 12px;
    }

    a,
    button {
        font-size: 13px !important;
    }

    .chart-container {
        width: 100px;
        height: 50px;
    }

    .deposit_method {
        grid-template-columns: repeat(3, 6fr);
    }

    .deposit_option img {
        height: 25px;
        width: 25px;
        margin-bottom: 5px;
    }
    .deposit_option h4 {
        margin: 0;
        font-size: 10px;
      }
}

#mbcurrency_list ul {
    padding: 0 !important;
}